@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-ocean-light hover:text-ocean-medium transition-colors underline;
}

h1 {
    @apply text-3xl md:text-5xl mt-10 mb-2 font-black font-roboto;
}

.mdx p,
.mdx h1,
.mdx h2,
.mdx h3,
.mdx ul,
.mdx img {
    @apply md:max-w-[75%] mx-auto;
}

.mdx p,
.mdx h1,
.mdx h2,
.mdx h3,
.mdx ul {
    @apply px-4 md:px-0;
}

.mdx p strong {
    @apply font-black;
}

.local-main .mdx p,
.local-main .mdx h1,
.local-main .mdx h2,
.local-main .mdx h3,
.local-main .mdx ul,
.local-main .mdx img {
    @apply max-w-full mx-0;
}

.mdx p, .mdx ul {
    @apply font-roboto text-p font-light mt-2 mb-4;
}

.mdx ul {
    @apply list-disc;
}

.mdx li {
    @apply ml-8;
}

.mdx h2 {
    @apply font-mono text-2xl font-normal my-8;
}

.mdx h3 {
    @apply font-roboto text-2xl font-black mt-8 leading-8;
}
